{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ form_start(form, {'attr' : {'class' : 'form-login'}}) }}
            <label>Adresse mail</label>
            {{ form_widget(form.email, {'attr' : {'class' : 'form-login-input'}}) }}
            <label>Nom d'utilisateur</label>
            {{ form_widget(form.username, {'attr' : {'class' : 'form-login-input'}}) }}
            <label>Mot de passe</label>
            {{ form_widget(form.password.first, {'attr' : {'class' : 'form-login-input'}}) }}
            <label>Confirmer mot de passe</label>
            {{ form_widget(form.password.second, {'attr' : {'class' : 'form-login-input'}}) }}

        <button type="submit" class="btn-login">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}