{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="tutorials-intro">
            <h2>Tutorials</h2>
            <p>
                Retrouvez ici tous les tutoriels présents sur la chaîne Youtube <br>
                Vous avez également la possibilité de télécharger les vidéos.
            </p>
        </div>
        <div class="tutorials-list">
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
            <div class="home-tutorials-video">
                <div class="home-tutorials-video-img">
                    <img src="{{ asset('img/logo-js.png') }}" alt="">
                </div>
                <div class="home-tutorials-content">
                    <h3>Javascript #1 : Les bases</h3>
                    <p>Dans cette vidéo, je vous présente les bases sur le langage Javascript</p>
                </div>
                <div class="home-tutorials-time">
                    <p><i class="fa-solid fa-clock"></i> 30min</p>
                </div>
            </div>
        </div>
        <div class="tutorials-pagination">
            <ul class="tutorials-pagination-items">
                <li><a href="#">&laquo;</a></li>
                <li class="pagination-item"><a href="">1</a></li>
                <li class="pagination-item"><a href="">2</a></li>
                <li class="pagination-item"><a href="">3</a></li>
                <li class="pagination-item"><a href="">4</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>

{% endblock %}